In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'Data/bbc-text.csv')
df.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [5]:
df.shape

(2225, 3)

In [3]:
from Pipeline.Preprocessing.TextPreprocessing import ManuelTextPreprocessing

manuel_preprocessing = ManuelTextPreprocessing()
df['preprocessed_text'] = df.text.apply(lambda x: manuel_preprocessing.text_preprocess(x))

In [4]:
df.head()

,category,text,preprocessed_text
0,tech,tv future in the hands of viewers with home th...,tv future hand viewer home theatre system plas...
1,business,worldcom boss left books alone former worldc...,worldcom boss leave book alone former worldcom...
2,sport,tigers wary of farrell gamble leicester say ...,tiger wary farrell gamble leicester say rush m...
3,sport,yeading face newcastle in fa cup premiership s...,yeade face newcastle fa cup premiership side n...
4,entertainment,ocean s twelve raids box office ocean s twelve...,ocean twelve raid box office ocean twelve crim...